<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Trip</title>
	<link rel="stylesheet" type="text/css" href="../bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="trip/styles/main.css">
</head>

<body>
	<!-- include nav-bar -->
	<% include templates/navbar-default.html %>

	<!-- body -->
	
	
	<!-- include footer -->
	<% include templates/footer-default.html %>
	
	<script type="text/javascript" src="bootstrap/jquery-1-11-3.min.js"></script>
	<script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="trip/js/main.js"></script>
	
</body>

</html>
