<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Trip</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/trip/styles/main.css">
</head>

<body>
	<!-- include nav-bar -->
	<% include templates/navbar-default.html %>

	<!-- body -->
	<div>
		<div class="highlight">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-offset-2 col-md-8" style="height:inherit;">
						<div class="dull" style="height:inherit;">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#flights">Flights</a></li>
								<li><a data-toggle="tab" href="#hotel">Hotel</a></li>
								<li><a data-toggle="tab" href="#holi">Holidays</a></li>
							</ul>

							<div class="tab-content">
								<div id="flights" class="tab-pane fade in active">
									<h3>Book domestic and international flights</h3>
									<ul class="nav nav-pills">
										<li class="active"><a data-toggle="pill" href="#domestic">Domestic</a></li>
										<li><a data-toggle="pill" href="#inter">International</a></li>
									</ul>
									<div class="tab-content">
										<div id="domestic" class="tab-pane fade in active">
											<!-- content -->
											<form>
												<div class="row">
													<div class="col-md-12">
														<div class="form-horizontal">
															<div class="form-group">
																<div class="col-sm-12">
																	<label class="radio-inline">
																		<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> One way
																	</label>
																	<label class="radio-inline">
																		<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Round Trip
																	</label>
																	<label class="radio-inline">
																		<input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Multy city
																	</label>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label for="ifrom">From</label>
															<input type="email" class="form-control" id="ifrom" placeholder="From">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="ito">To</label>
															<input type="email" class="form-control" id="ito" placeholder="To">
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-3">
														<div class="form-group">
															<label for="ito">Departure</label>
															<input class="form-control" type="date">
														</div>
													</div>
													<div class="col-md-3">
														<div class="form-group">
															<label for="ito">Return</label>
															<input class="form-control" type="date">
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label for="ito">Adult</label>
															<input class="form-control" value="1" type="number">
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label for="ito">Child</label>
															<input class="form-control" value="0" type="number">
														</div>
													</div>
													<div class="col-md-2">
														<div class="form-group">
															<label for="ito">Infant</label>
															<input class="form-control" type="number" value="0">
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-md-3">
														<div class="form-group">
															<label for="ifrom">Class</label>
															<select class="form-control">
																<option>Economy</option>
																<option>Premium Economy</option>
																<option>Business</option>
															</select>
														</div>
													</div>
													<div class="col-md-3">
														<div class="form-group">
															<label for="ifrom">Class</label>
															<select class="form-control">
																<option>Spice Jet</option>
																<option>Jet Airways</option>
																<option>Air India</option>
															</select>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<button class="btn btn-yellow" type="submit">Search Flights</button>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div id="inter" class="tab-pane fade">
											<h3>international</h3>
											<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
										</div>
									</div>
								</div>
								<div id="hotel" class="tab-pane fade">
									<h3>Menu 1</h3>
									<p>Some content in menu 1.</p>
								</div>
								<div id="holi" class="tab-pane fade">
									<h3>Menu 2</h3>
									<p>Some content in menu 2.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- section 2 -->
		<div class="card-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								<h4>Malesia Airlines Sale</h4>
							</div>
							<div class="card-body">
								<p>Discount upto 40% off !</p>
							</div>
							<div class="card-footer">
								<p>Valid till 5th Sep '16</p>
								<a href="#">BOOK NOW</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								<h4>Malesia Airlines Sale</h4>
							</div>
							<div class="card-body">
								<p>Discount upto 40% off !</p>
							</div>
							<div class="card-footer">
								<p>Valid till 5th Sep '16</p>
								<a href="#">BOOK NOW</a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-header">
								<h4>Malesia Airlines Sale</h4>
							</div>
							<div class="card-body">
								<p>Discount upto 40% off !</p>
							</div>
							<div class="card-footer">
								<p>Valid till 5th Sep '16</p>
								<a href="#">BOOK NOW</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- include footer -->
	<% include templates/footer-default.html %>
	
	<script type="text/javascript" src="/bootstrap/jquery-1-11-3.min.js"></script>
	<script type="text/javascript" src="/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="/trip/js/main.js"></script>
	
</body>

</html>
