<!DOCTYPE html>
<html>

<head>
	<title>
		bootstrap nav element
	</title>

	<!-- get bootstrap -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

	<!-- get custom css -->
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- polymer webcomponentsjs -->
	<script src="/elements/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>


	<!-- getting elements -->
	<link rel="import" href="/elements/hello-world/hello-world.html">
	<link rel="import" href="/elements/bootstrap-navbar/bootstrap-navbar.html">


</head>

<body>
	<bootstrap-navbar></bootstrap-navbar>
	<hello-world></hello-world>

</body>

</html>
