<!DOCTYPE html>
<html>

<head>
	<title>
		bootstrap nav element
	</title>

	<!-- get bootstrap -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

	<!-- get custom css -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/jquery-1-11-3.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	
	<!-- polymer webcomponentsjs -->
	<script src="/elements/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
	

	<!-- getting elements -->
	<link rel="import" href="/elements/bootstrap-navbar/bootstrap-navbar.html">


</head>

<body>
	<bootstrap-navbar></bootstrap-navbar>
	<hello-world></hello-world>

</body>

</html>
