<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Material Design Lite</title>

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="images/android-desktop.png">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Material Design Lite">
	<link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
	<meta name="msapplication-TileColor" content="#3372DF">

	<link rel="shortcut icon" href="images/favicon.png">

	<!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
	<!--
    <link rel="canonical" href="http://www.example.com/">
    -->

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.cyan-light_blue.min.css">
	<link rel="stylesheet" href="drawer/styles.css">
	<style>
	#lower-right {
		position: fixed;
		display: block;
		right: 0;
		bottom: 0;
		margin-right: 40px;
		margin-bottom: 40px;
		z-index: 900;
	}
	</style>

	<!-- added stuffs -->
	<link rel="stylesheet" type="text/css" href="workflow_final/css/rappid.min.css" />
	<link rel="stylesheet" type="text/css" href="workflow_final/css/demos/bpmn/bpmn.css" />
	<link rel="stylesheet" type="text/css" href="workflow_final/css/addedcss.css" />


</head>

<body>
	<div class="cust-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
		<header class="cust-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout-title">Home</span>
				<div class="mdl-layout-spacer"></div>
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="search">
						<i class="material-icons">search</i>
					</label>
					<div class="mdl-textfield__expandable-holder">
						<input class="mdl-textfield__input" type="text" id="search">
						<label class="mdl-textfield__label" for="search">Enter your query...</label>
					</div>
				</div>
				<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
					<i class="material-icons">more_vert</i>
				</button>
				<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
					<li class="mdl-menu__item">About</li>
					<li class="mdl-menu__item">Contact</li>
					<li class="mdl-menu__item">Legal information</li>
				</ul>
			</div>
		</header>
		<div class="cust-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
			<header class="cust-drawer-header">

				<div class="cust-avatar-dropdown">
					<img src="images/user.jpg" class="cust-avatar">
					<span>Rahul</span>
					<div class="mdl-layout-spacer"></div>
					<button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
						<i class="material-icons" role="presentation">arrow_drop_down</i>
						<span class="visuallyhidden">Accounts</span>
					</button>
					<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
						<li class="mdl-menu__item">hello@example.com</li>
						<li class="mdl-menu__item">info@example.com</li>
						<li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
					</ul>
				</div>
			</header>
			<nav class="cust-navigation mdl-navigation mdl-color--blue-grey-800">
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Inbox</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Trash</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Spam</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Forums</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Updates</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Promos</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Purchases</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social</a>
				<div class="mdl-layout-spacer"></div>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
			</nav>
		</div>
		<main class="mdl-layout__content mdl-color--grey-100">
			<div class="mdl-grid cust-content">
				<!-- main content -->
				
				<script src="https://use.fontawesome.com/d847c7e47e.js"></script>
				<div id="paper-container"></div>


				<div id="toolbar-container">
					<button class="btn-drive-load" onclick="toolbar.loadGraph()" data-tooltip="Load"><i style="font-size: 25px;" class="fa fa-folder" aria-hidden="true"></i>
						<!-- <span>Load</span> --></button>
					<button class="btn-drive-save" onclick="toolbar.saveGraph()" data-tooltip="Save"><i class="fa fa-floppy-o" style="font-size: 25px;" aria-hidden="true"></i></button>

					<button class="btn-print" onclick="paper.print()" data-tooltip="Print"><i class="fa fa-print" style="font-size: 25px;" aria-hidden="true"></i></button>

					<button class="btn-json" onclick="toolbar.toJSON()" data-tooltip="Open As JSON"><i class="fa fa-code" style="font-size: 25px;" aria-hidden="true"></i></button>

					<button class="btn-zoom-in" onclick="paperScroller.zoom(0.2, { max: 4 })" data-tooltip="Zoom In"><i class="fa fa-search-plus" style="font-size: 25px;" aria-hidden="true"></i></button>

					<button class="btn-zoom-out" onclick="paperScroller.zoom(-0.2, { min: 0.2 })" data-tooltip="Zoom Out"><i class="fa fa-search-minus" style="font-size: 25px;" aria-hidden="true"></i></button>

					<button class="btn-clear" onclick="graph.clear()" data-tooltip="Clear"><i class="fa fa-trash" style="font-size: 25px;" aria-hidden="true"></i></button>

					<button class="btn-undo" onclick="commandManager.undo()" data-tooltip="Undo"><i class="fa fa-undo" style="font-size: 25px;" aria-hidden="true"></i></button>

					<button class="btn-redo" onclick="commandManager.redo()" data-tooltip="Redo"><i class="fa fa-repeat" style="font-size: 25px;" aria-hidden="true"></i></button>

					<input id="fileName" type="text" value="bpmn-example" />
				</div>
				<div id="stencil-container"></div>
				<div id="inspector-container">
					<!-- <div class="about">
            <div class="logo"><img src="images/demos/bpmn/logo-big.png" alt="JointJS"></img></div>
            <h1>Business Process Model and Notation</h1>
            <h2>What is it good for?</h2>
            <div class="about-bpmn">The main goal of the BPMN language is to erase the communication gap between the business process design and process implementation by providing a graphical notation that all the technical and business users can easily understand.</div>
            <h2>BPMN 2.0</h2>
            <div class="about-bpmn">From the version 2.0+ the language contains also the execution semantics for all BPMN elements and defines a mechanism for extending standard elements with custom attributes.</div>
          </div>-->
				</div>
				

				<!-- Google Drive: -->
				<script type="text/javascript" src="workflow_final/js/demos/bpmn/gd.js"></script>
				<script type="text/javascript" src="workflow_final/js/demos/bpmn/client.js"></script>
				<!-- Dependencies: -->
				<script>
				SVGElement.prototype.getTransformToElement = SVGElement.prototype.getTransformToElement || function(toElement) {
					return toElement.getScreenCTM().inverse().multiply(this.getScreenCTM());
				};
				</script>

				<script src="workflow_final/js/vendor/jquery/jquery.js"></script>
				<script src="workflow_final/js/vendor/lodash/lodash.js"></script>
				<script src="workflow_final/js/vendor/backbone/backbone.js"></script>
				<script src="workflow_final/js/vendor/KeyboardJS/keyboard.js"></script>
				<script src="workflow_final/js/rappid.min.js"></script>
				<!-- App scripts -->
				<script src="workflow_final/js/demos/bpmn/inspector.js"></script>
				<script src="workflow_final/js/demos/bpmn/example.js"></script>
				<script src="workflow_final/js/demos/bpmn/bpmn.js"></script>

				<script type="text/javascript">
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-5029684-2']);
				_gaq.push(['_trackPageview']);

				(function() {
					var ga = document.createElement('script');
					ga.type = 'text/javascript';
					ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(ga, s);
				})();
				</script>



				<!-- main content over -->
			</div>
		</main>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="position: fixed; left: -1000px; height: -1000px;">
		<defs>
			<mask id="piemask" maskContentUnits="objectBoundingBox">
				<circle cx=0.5 cy=0.5 r=0.49 fill="white" />
				<circle cx=0.5 cy=0.5 r=0.40 fill="black" />
			</mask>
			<g id="piechart">
				<circle cx=0.5 cy=0.5 r=0.5 />
				<path d="M 0.5 0.5 0.5 0 A 0.5 0.5 0 0 1 0.95 0.28 z" stroke="none" fill="rgba(255, 255, 255, 0.75)" />
			</g>
		</defs>
	</svg>
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 250" style="position: fixed; left: -1000px; height: -1000px;">
		<defs>
			<g id="chart">
				<g id="Gridlines">
					<line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="27.3" x2="468.3" y2="27.3" />
					<line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="66.7" x2="468.3" y2="66.7" />
					<line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="105.3" x2="468.3" y2="105.3" />
					<line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="144.7" x2="468.3" y2="144.7" />
					<line fill="#888888" stroke="#888888" stroke-miterlimit="10" x1="0" y1="184.3" x2="468.3" y2="184.3" />
				</g>
				<g id="Numbers">
					<text transform="matrix(1 0 0 1 485 29.3333)" fill="#888888" font-family="'Roboto'" font-size="9">500</text>
					<text transform="matrix(1 0 0 1 485 69)" fill="#888888" font-family="'Roboto'" font-size="9">400</text>
					<text transform="matrix(1 0 0 1 485 109.3333)" fill="#888888" font-family="'Roboto'" font-size="9">300</text>
					<text transform="matrix(1 0 0 1 485 149)" fill="#888888" font-family="'Roboto'" font-size="9">200</text>
					<text transform="matrix(1 0 0 1 485 188.3333)" fill="#888888" font-family="'Roboto'" font-size="9">100</text>
					<text transform="matrix(1 0 0 1 0 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">1</text>
					<text transform="matrix(1 0 0 1 78 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">2</text>
					<text transform="matrix(1 0 0 1 154.6667 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">3</text>
					<text transform="matrix(1 0 0 1 232.1667 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">4</text>
					<text transform="matrix(1 0 0 1 309 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">5</text>
					<text transform="matrix(1 0 0 1 386.6667 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">6</text>
					<text transform="matrix(1 0 0 1 464.3333 249.0003)" fill="#888888" font-family="'Roboto'" font-size="9">7</text>
				</g>
				<g id="Layer_5">
					<polygon opacity="0.36" stroke-miterlimit="10" points="0,223.3 48,138.5 154.7,169 211,88.5
              294.5,80.5 380,165.2 437,75.5 469.5,223.3   " />
				</g>
				<g id="Layer_4">
					<polygon stroke-miterlimit="10" points="469.3,222.7 1,222.7 48.7,166.7 155.7,188.3 212,132.7
              296.7,128 380.7,184.3 436.7,125   " />
				</g>
			</g>
		</defs>
	</svg>
	<!-- <a href="https://github.com/google/material-design-lite/blob/master/templates/dashboard/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">View Source</a> -->
	<!-- <a href="https://github.com/google/material-design-lite/blob/master/templates/dashboard/" target="_blank" id="lower-right" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">View Docs</a> -->
	<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</body>

</html>
