<!DOCTYPE html>
<html>

<head>
	<title>
		file upload success
	</title>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/javascripts/jquery-1-11-3.min.js"></script>
	<!-- get bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- get custom css -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/javascripts/bootstrap.min.js"></script>
</head>

<body role="document">
	<!-- Width of the element can be controlled with the width of parent element.
		 Here .holder is the parent element. -->
	<div class="holder">
		
		<!-- element starts here -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-offset-1 col-md-11">
					<div class="row">
						<div class="col-md-2 col-sm-2 green">
							<span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
						</div>
						<div class="col-md-5 col-sm-7">
							<p style="color:gray;">15th June 2016</p>
							<h2 style="color:#696969;">Upload Success</h2>
							<div class="alert alert-success" role="alert">
								<p><strong>File name:</strong> <span class="text-mutedd">testFile.js</span></p>
							</div>
							<button class="btn btn-success pull-right">Continue <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- element ends here -->
		
	</div>


</body>

</html>
