<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Form</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">



	<!-- custom css -->
	<link rel="stylesheet" href="stylesheets/form.css">
</head>

<body>
	<!-- main container -->
	<div class="container">
		<!-- form starts here -->
		<!-- form section 1 -->
		<form>

			<div class="panel panel-info">
				<div class="panel-heading" style="padding:10px;">
					<h3 class="panel-title">General</h3>
				</div>
				<div class="panel-body">
					<div class="form-inline">
						<div class="row">
							<div class="form-group">
								<div class="col-md-2">
									<label for="first-name">Name <span class="label label-info">English</span></label>
								</div>
								<div class="col-md-10">
									<input autofocus type="text" id="first-name" placeholder="First Name" class="form-control">
									<input type="text" id="second-name" placeholder="Second Name" class="form-control">
									<input type="text" id="third-name" placeholder="Third Name" class="form-control">
									<input type="text" id="last-name" placeholder="Last name" class="form-control">
								</div>
							</div>
						</div>
					</div>

					<div class="form-inline">
						<div class="form-group">
							<div class="row">
								<div class="col-md-2">
									<label for="arabic-first-name">Name <span class="label label-info">Arabic</span></label>
								</div>
								<div class="col-md-10">
									<input type="text" id="arabic-first-name" placeholder="First Name" class="form-control">
									<input type="text" id="arabic-second-name" placeholder="Second Name" class="form-control">
									<input type="text" id="arabic-third-name" placeholder="Third Name" class="form-control">
									<input type="text" id="arabic-last-name" placeholder="Last name" class="form-control">
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-md-2">
								<label for="known-as">Known as <span class="text-muted"><!-- helper info --></span></label>
							</div>
							<div class="col-md-10">
								<input type="text" id="known-as" placeholder="Known as" class="form-control">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-horizontal">

								<div class="form-group">
									<label class="col-md-3 control-label" for="dob">Date of Birth </label>
									<div class="col-md-9">
										<input type="date" name="dob" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label" for="gender">Gender</label>
									<div class="col-md-9">
										<select class="form-control" id="gender">
											<option>Male</option>
											<option>Female</option>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label" for="blood-group">Blood group</label>
									<div class="col-md-9">
										<select class="form-control" id="blood-group">
											<option>Select one</option>
											<option>A+</option>
											<option>A-</option>
											<option>B+</option>
											<option>B-</option>
											<option>AB+</option>
											<option>AB-</option>
											<option>O+</option>
											<option>O-</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<!-- column 2 -->
						<div class="col-md-6">
							<div class="form-horizontal">

								<div class="form-group">
									<label class="col-md-3 control-label" for="id">ID Number </label>
									<div class="col-md-9">
										<input type="text" name="id" class="form-control" placeholder="ID Number">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label" for="id-expiry">ID Expiry Date </label>
									<div class="col-md-9">
										<input type="date" name="id-expiry" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label" for="admission-date">Admission Date </label>
									<div class="col-md-9">
										<input type="date" name="admission-date" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- ----------------------------------- -->
					<br>

					<div class="row">
						<div class="col-md-6">
							<!-- column 1 -->
							<div class="form-horizontal">
								<div class="form-group">
									<label for="birth-place" class="col-md-3 control-label">Birth Place</label>
									<div class="col-md-9">
										<select class="form-control" id="birth-place">
											<option>Egypt</option>
											<option>India</option>
											<option>options goes here..</option>
											<!-- options goes here.. -->
										</select>
									</div>
								</div>

								<div class="form-group">
									<label for="birth-place" class="col-md-3 control-label">Nationality</label>
									<div class="col-md-9">
										<select class="form-control" id="birth-place">
											<option>Egyptian</option>
											<option>Indian</option>
											<option>options goes here..</option>
											<!-- options goes here.. -->
										</select>
									</div>
								</div>

								<div class="form-group">
									<label for="religion" class="col-md-3 control-label">Religion</label>
									<div class="col-md-9">
										<select class="form-control" id="religion">
											<option>Islam</option>
											<option>Christian</option>
											<option>options goes here..</option>
											<!-- options goes here.. -->
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<!-- column 2 -->
							<div class="form-horizontal">
								<div class="form-group">
									<label for="passport-number" class="col-md-3 control-label">Passport</label>
									<div class="col-md-9">
										<input type="text" name="passport-number" class="form-control" placeholder="Passport number">
									</div>
								</div>
								<div class="form-group">
									<label for="passport-number" class="col-md-3 control-label" style="margin-top:-10px;">Passport Issue Date</label>
									<div class="col-md-9">
										<input type="text" name="passport-number" class="form-control" placeholder="Passport number">
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>



			<br>

			<div class="row">
				<div class="col-md-12">
					<div class="panel with-nav-tabs panel-primary">
						<div class="panel-heading">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#parent-info" data-toggle="tab">Parent Information</a></li>
								<li><a href="#addtional-info" data-toggle="tab">Additional Informaion</a></li>
								<li><a href="#official-docs" data-toggle="tab">Official Documents</a></li>
							</ul>
						</div>
						<div class="panel-body">
							<div class="tab-content">
								<div class="tab-pane fade in active" id="parent-info">
									<!-- <h3>Parent Information</h3> -->
									<div class="row">
										<nav class="col-md-3">
											<ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="650">
												<li class="active"><a data-toggle="pill" href="#father-mother-info">Father/ Mother Info</a></li>
												<li><a data-toggle="pill" href="#primary-parent">Primary Parent</a></li>
											</ul>
										</nav>
										<div class="col-md-9">
											<div class="tab-content">
												<div id="father-mother-info" class="tab-pane fade in active">

													<div class="panel panel-info">
														<div class="panel-heading" style="padding:10px;">
															<h3 class="panel-title">Father Information</h3>
														</div>
														<div class="panel-body">
															<div class="row">
																<div class="form-inline">
																	<div class="form-group">
																		<div class="col-md-3">
																			<label for="father-first-name">Father's Name <span class="label label-info">English</span></label>
																		</div>
																		<div class="col-md-9">
																			<input autofocus type="text" id="father-first-name" placeholder="First Name" class="form-control">
																			<input type="text" id="father-last-name" placeholder="Last Name" class="form-control">
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="form-inline">
																	<div class="form-group">
																		<div class="col-md-3">
																			<label for="father-first-name-arabic">Father's Name <span class="label label-info">Arabic</span></label>
																		</div>
																		<div class="col-md-9">
																			<input autofocus type="text" id="father-first-name-arabic" placeholder="First Name" class="form-control">
																			<input type="text" id="father-last-name-arabic" placeholder="Last Name" class="form-control">
																		</div>
																	</div>
																</div>
															</div>


															<div class="row">
																<div class="form-inline">
																	<div class="form-group">
																		<div class="col-md-3">
																			<label for="home-phone">Phone </label>
																		</div>
																		<div class="col-md-9">
																			<input autofocus type="text" id="home-phone" placeholder="Home Phone" class="form-control">
																			<input type="text" id="work-phone" placeholder="Work Phone" class="form-control">
																			<input type="text" id="mobile-phone" placeholder="Mobile Phone" class="form-control">
																		</div>
																	</div>
																</div>
															</div>

															<div class="row">
																<div class="form-horizontal">
																	<div class="form-group">
																		<div class="col-md-3">
																			<label for="spoken-language" class="col-md-3 control-label label-margin-adj">Spoken Language</label>
																		</div>
																		<div class="col-md-9 padding-adj">
																			<select class="form-control" id="spoken-language">
																				<option>Arabic</option>
																				<option>English</option>
																				<option>options goes here..</option>
																				<!-- options goes here.. -->
																			</select>
																		</div>
																	</div>

																	<div class="form-group">
																		<div class="col-md-3">
																			<label for="father-email" class="col-md-3 control-label ">Email</label>
																		</div>
																		<div class="col-md-9 padding-adj">
																			<input type="email" name="father-email" placeholder="Email" id="father-email" class="form-control">
																		</div>
																	</div>

																	<div class="form-group">
																		<div class="col-md-3">
																			<label for="father-address" class="col-md-3 control-label ">Address</label>
																		</div>
																		<div class="col-md-9 padding-adj">
																			<textarea class="form-control" rows="5" name="father-address" placeholder="Address" id="father-address"></textarea>
																		</div>
																	</div>
																</div>
															</div>



														</div>
													</div>

													<div class="panel panel-info">
														<div class="panel-heading" style="padding:10px;">
															<h3 class="panel-title">Mother Information</h3>
														</div>
														<div class="panel-body">
															<!-- mother information -->

															<div class="row">
																<div class="form-inline">
																	<div class="form-group">
																		<div class="col-md-3">
																			<label for="mother-first-name">Mother's Name <span class="label label-info">English</span></label>
																		</div>
																		<div class="col-md-9">
																			<input autofocus type="text" id="mother-first-name" placeholder="First Name" class="form-control">
																			<input type="text" id="mother-last-name" placeholder="Last Name" class="form-control">
																		</div>
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="form-inline">
																	<div class="form-group">
																		<div class="col-md-3">
																			<label for="mother-first-name-arabic">Mother's Name <span class="label label-info">Arabic</span></label>
																		</div>
																		<div class="col-md-9">
																			<input autofocus type="text" id="mother-first-name-arabic" placeholder="First Name" class="form-control">
																			<input type="text" id="mother-last-name-arabic" placeholder="Last Name" class="form-control">
																		</div>
																	</div>
																</div>
															</div>


															<div class="row">
																<div class="form-inline">
																	<div class="form-group">
																		<div class="col-md-3">
																			<label for="home-phone">Phone </label>
																		</div>
																		<div class="col-md-9">
																			<input autofocus type="text" id="home-phone" placeholder="Home Phone" class="form-control">
																			<input type="text" id="work-phone" placeholder="Work Phone" class="form-control">
																			<input type="text" id="mobile-phone" placeholder="Mobile Phone" class="form-control">
																		</div>
																	</div>
																</div>
															</div>

															<div class="row">
																<div class="form-horizontal">
																	<div class="form-group">
																		<div class="col-md-3">
																			<label for="spoken-language" class="col-md-3 control-label label-margin-adj">Spoken Language</label>
																		</div>
																		<div class="col-md-9 padding-adj">
																			<select class="form-control" id="spoken-language">
																				<option>Arabic</option>
																				<option>English</option>
																				<option>options goes here..</option>
																				<!-- options goes here.. -->
																			</select>
																		</div>
																	</div>

																	<div class="form-group">
																		<div class="col-md-3">
																			<label for="mother-email" class="col-md-3 control-label ">Email</label>
																		</div>
																		<div class="col-md-9 padding-adj">
																			<input type="email" name="mother-email" placeholder="Email" id="mother-email" class="form-control">
																		</div>
																	</div>

																	<div class="form-group">
																		<div class="col-md-3">
																			<label for="mother-address" class="col-md-3 control-label ">Address</label>
																		</div>
																		<div class="col-md-9 padding-adj">
																			<textarea class="form-control" rows="5" name="mother-address" placeholder="Address" id="father-address"></textarea>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>


												<div id="primary-parent" class="tab-pane fade">
													<h3>Primary parent</h3>
													<!-- add date here -->
													<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin euismod tristique leo, eget hendrerit metus sagittis eget. Mauris elementum elit vitae sapien rutrum, vitae suscipit nisi suscipit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin euismod tristique leo, eget hendrerit metus sagittis eget. Mauris elementum elit vitae sapien rutrum, vitae suscipit nisi suscipit.</p>
												</div>

											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="addtional-info">
									<div class="row">
										<div class="col-md-6">
											<div class="panel panel-info">
												<div class="panel-heading" style="padding:10px;">
													<h3 class="panel-title">Address Information</h3>
												</div>
												<div class="panel-body">
													<!-- Address Information -->

													<div class="form-horizontal">

														<div class="form-group">
															<label for="city" class="col-md-4 control-label">City</label>
															<div class="col-md-8">
																<input class="form-control" type="text" name="city" placeholder="City" id="city">
															</div>
														</div>

														<div class="form-group">
															<label for="street" class="col-md-4 control-label">Street</label>
															<div class="col-md-8">
																<input class="form-control" type="text" name="street" placeholder="Street" id="street">
															</div>
														</div>

														<div class="form-group">
															<label for="building-number" class="col-md-4 control-label">Building Number</label>
															<div class="col-md-8">
																<input class="form-control" type="text" name="building-number" placeholder="Building Number" id="building-number">
															</div>
														</div>

														<div class="form-group">
															<label for="floor-number" class="col-md-4 control-label">Floor Number</label>
															<div class="col-md-8">
																<input class="form-control" type="text" name="floor-number" placeholder="Floor Number" id="floor-number">
															</div>
														</div>

														<div class="form-group">
															<label for="apartment-number" class="col-md-4 control-label">Apartment Number</label>
															<div class="col-md-8">
																<input class="form-control" type="text" name="apartment-number" placeholder="Apartment Number" id="apartment-number">
															</div>
														</div>

														<div class="form-group">
															<label for="pbo-number" class="col-md-4 control-label">PO Box Number</label>
															<div class="col-md-8">
																<input class="form-control" type="text" name="pbo-number" placeholder="PO Box Number" id="pbo-number">
															</div>
														</div>

														<div class="form-group">
															<label for="oneMore-email" class="col-md-4 control-label">Email</label>
															<div class="col-md-8">
																<input class="form-control" type="email" name="oneMore-email" placeholder="Email" id="oneMore-email">
															</div>
														</div>

													</div>
												</div>
											</div>
										</div>



										<!-- col-2 -->
										<div class="col-md-6">
											<div class="panel panel-default">
												<div class="panel-heading" style="padding:10px;">
													<h3 class="panel-title">Other Information</h3>
												</div>
												<div class="panel-body">
													<!-- Other Informaion -->
													<div class="form-horizontal">

														<div class="form-group">
															<label for="grade-completed" class="col-md-4 control-label">Grade Completed</label>
															<div class="col-md-8">
																<input class="form-control" type="text" name="grade-completed" placeholder="Grade Completed" id="grade-completed">
															</div>
														</div>

														<div class="form-group">
															<label for="entering-grade" class="col-md-4 control-label">Entering Grade</label>
															<div class="col-md-8">
																<input class="form-control" type="text" name="entering-grade" placeholder="Entering Grade" id="entering-grade">
															</div>
														</div>

														<div class="form-group">
															<label for="primary-spoken-language" class="col-md-4 control-label">Primary Spoken Language</label>
															<div class="col-md-8">
																<select class="form-control" id="primary-spoken-language">
																	<option>Arabic</option>
																	<option>English</option>
																	<option>options goes here..</option>
																	<!-- options goes here.. -->
																</select>
															</div>
														</div>

														<div class="form-group">
															<label for="first-learned-language" class="col-md-4 control-label">First Learned Language</label>
															<div class="col-md-8">
																<select class="form-control" id="first-learned-language">
																	<option>Arabic</option>
																	<option>English</option>
																	<option>options goes here..</option>
																	<!-- options goes here.. -->
																</select>
															</div>
														</div>

														<div class="form-group">
															<label for="home-spoken-language" class="col-md-4 control-label">Home Spoken Language</label>
															<div class="col-md-8">
																<select class="form-control" id="home-spoken-language">
																	<option>Arabic</option>
																	<option>English</option>
																	<option>options goes here..</option>
																	<!-- options goes here.. -->
																</select>
															</div>
														</div>

														<div class="form-group">
															<label for="preSchool-attended" class="col-md-4 control-label">Previous PreSchool Attended ?</label>
															<div class="col-md-8">
																<input type="checkbox" name="preSchool-attended" style="width:25px;height: 25px;" id="preSchool-attended">
															</div>
														</div>

														<div class="form-group">
															<label for="preSchool-name" class="col-md-4 control-label">Previous PreSchool Name</label>
															<div class="col-md-8">
																<input type="text" name="preSchool-name" placeholder="Name of Pre-School" id="preSchool-name" class="form-control">
															</div>
														</div>

														<div class="form-group">
															<label for="interests" class="col-md-4 control-label">Student's Interests</label>
															<div class="col-md-8">
																<textarea name="interests" placeholder="Kid's Interests" rows="5" id="interests" class="form-control"></textarea>
															</div>
														</div>

													</div>
												</div>
											</div>


										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="official-docs">
									official-docs
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<input type="submit" class="btn btn-primary pull-right">
		</form>

	</div>

	<footer>
		<br>
		<br>
		<br>
	</footer>

	</div>
	<!-- jQuery from Google CDN-->
	<script src="javascripts/jquery-1-11-3.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="javascripts/bootstrap.min.js"></script>
</body>

</html>
