<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Form</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="stylesheets/bootstrap.min.css">



	<!-- custom css -->
	<link rel="stylesheet" href="stylesheets/form.css">
</head>

<body>
	<!-- main container -->
	<div class="container">
		<!-- form starts here -->
		<!-- form section 1 -->
		<form>
			<div class="form-inline">
				<div class="row">
					<div class="form-group">
						<div class="col-md-2">
							<label for="first-name">Name <span class="text-muted">(English)</span></label>
						</div>
						<div class="col-md-10">
							<input autofocus type="text" id="first-name" placeholder="First Name" class="form-control">
							<input type="text" id="second-name" placeholder="Second Name" class="form-control">
							<input type="text" id="third-name" placeholder="Third Name" class="form-control">
							<input type="text" id="last-name" placeholder="Last name" class="form-control">
						</div>
					</div>
				</div>
			</div>

			<div class="form-inline">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2">
							<label for="arabic-first-name">Name <span class="text-muted">(Arabic)</span></label>
						</div>
						<div class="col-md-10">
							<input type="text" id="arabic-first-name" placeholder="First Name" class="form-control">
							<input type="text" id="arabic-second-name" placeholder="Second Name" class="form-control">
							<input type="text" id="arabic-third-name" placeholder="Third Name" class="form-control">
							<input type="text" id="arabic-last-name" placeholder="Last name" class="form-control">
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2">
						<label for="known-as">Known as <span class="text-muted"><!-- helper info --></span></label>
					</div>
					<div class="col-md-10">
						<input type="text" id="known-as" placeholder="Known as" class="form-control">
					</div>
				</div>
			</div>

			<div class="form-inline">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2">
							<label class="label-margin" for="dob">Date of Birth <span class="text-muted pull-right">&nbsp;(Arabic)</span></label>
						</div>
						<div class="col-md-2">
							<input type="text" id="dob" placeholder="First Name" class="form-control">
						</div>

						<div class="col-md-2">
							<label class="label-margin pull-right" for="gender">Gender</label>
						</div>

						<div class="col-md-2">
							<select class="form-control" id="gender">
								<option>Male</option>
								<option>Female</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="form-inline">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2">
							<label class="label-margin" for="blood-group">Blood group</label>
						</div>
						<div class="col-md-10">
							<select class="form-control" id="blood-group">
								<option>A+</option>
								<option>A-</option>
								<option>B+</option>
								<option>B-</option>
								<option>AB+</option>
								<option>AB-</option>
								<option>O+</option>
								<option>O-</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="form-inline">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2">
							<label class="label-margin" for="id">ID Number</label>
						</div>
						<div class="col-md-2">
							<input type="text" id="id" placeholder="First Name" class="form-control">
						</div>

						<div class="col-md-2">
							<label class="label-margin pull-right" for="id-expiry">ID Expiry Date </label>
						</div>
						<div class="col-md-2">
							<input type="text" class="form-control" name="dfas">
							<!-- need to be changed -->
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-2">
						<label class="label-margin" for="admission-date">Admission date</label>
					</div>
					<div class="col-md-10">
						<input type="text" id="admision-date" placeholder="Date of admission" class="form-control">
						<!-- need to be changed -->
					</div>
				</div>
			</div>

			<!-- ----------------------------------- -->

			<div class="row">
				<div class="col-md-6">
					<!-- column 1 -->
					<div class="form-horizontal">
						<div class="form-group">
							<label for="birth-place" class="col-md-3 control-label">Birth Place</label>
							<div class="col-md-9">
								<select class="form-control" id="birth-place">
									<option>Egypt</option>
									<option>India</option>
									<option>options goes here..</option>
									<!-- options goes here.. -->
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="birth-place" class="col-md-3 control-label">Nationality</label>
							<div class="col-md-9">
								<select class="form-control" id="birth-place">
									<option>Egyptian</option>
									<option>Indian</option>
									<option>options goes here..</option>
									<!-- options goes here.. -->
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="religion" class="col-md-3 control-label">Religion</label>
							<div class="col-md-9">
								<select class="form-control" id="religion">
									<option>Islam</option>
									<option>Christian</option>
									<option>options goes here..</option>
									<!-- options goes here.. -->
								</select>
							</div>
						</div>

						<div class="form-group">
							<label for="passport-number" class="col-md-3 control-label">Passport</label>
							<div class="col-md-9">
								<input type="text" name="passport-number" class="form-control" placeholder="Passport number">
							</div>
						</div>


					</div>
				</div>
				<div class="col-md-6">
					<!-- column 2 -->

				</div>

			</div>



		</form>

	</div>
	<!-- jQuery from Google CDN-->
	<script src="javascripts/jquery-1-11-3.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="javascripts/bootstrap.min.js"></script>
</body>

</html>
