<!DOCTYPE html>
<html>

<head>
	<title>Burner</title>
</head>

<body>
	<h2>Burner Laboratory</h2>
	<hr>
	<br>
	<a href="">Skip Login, I am a Guest</a>
	<br>
	<br>
	<form action="/" method="POST">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<input type="submit" value="Get in">
	</form>
</body>

</html>
