<!DOCTYPE html>
<html>

<head>
	<title>
		Burner
	</title>

	<!-- get bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- get custom css -->
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- polymer webcomponentsjs -->
	<script src="/elements/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>


	<!-- getting elements -->
	<!-- <link rel="import" href="/elements/hello-world/hello-world.html"> -->
	<link rel="import" href="/elements/operation-failed/operation-failed.html">

</head>

<body>
<br>
<br>
	<operation-failed></operation-failed>



	<!-- jQuery -->
	<script src="/javascripts/jquery-1-11-3.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>
