<!DOCTYPE html>
<html>

<head>
	<title>
		file upload success
	</title>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/javascripts/jquery-1-11-3.min.js"></script>
	<!-- get bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- get custom css -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/javascripts/bootstrap.min.js"></script>
</head>

<body role="document">
	<!-- Width of the element can be controlled with the width of parent element.
		 Here .holder is the parent element. -->
	<div class="holder">

		<!-- element starts here -->
		<style>
		.red {
			background-color: #ff5c57;
			color: #FFF;
			font-size: 70px;
			padding: 18px 0px 0px 10px;
			border-radius: 15px;
			width: 118px;
			height: 118px;
			text-align: center;
		}

		.alert-danger {
			color: #ff5c57;
			background-color: #ffdbda;
			border-color: #ffa3a0;
		}
		</style>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-offset-1 col-md-11">
					<div class="row">
						<div class="col-md-2 col-sm-2 red">
							<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
						</div>
						<div class="col-md-5 col-sm-7">
							<p style="color:#ff5c57;">We're sorry,</p>
							<h3 style="color:#696969; margin-top: 8px;">Something went wrong !</h3>
							<div class="alert alert-danger" role="alert">
								<p>File upload<strong> Failed</strong></p>
							</div>
							<button class="btn btn-success pull-right"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Retry</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- element ends here -->

	</div>


</body>

</html>
