<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8"/>
        <meta name="description" content="BPMN diagram builder powered by Rappid diagramming toolkit.">
        <meta name="keywords" content="BPMN, modeling, jointjs, rappid, diagram, flowchart">
        <meta name="author" content="client IO">
        <meta property="og:title" content="BPMN 2.0 online builder" />
        <meta property="og:description" content="BPMN diagram builder powered by Rappid diagramming toolkit." />
        <meta property="og:site_name" content="JointJS | client IO" />
        <meta property="og:image" content="http://jointjs.com/images/blog/bpmn-editor.png" />
        <title>Business Process Model And Notation</title>
        <link rel="stylesheet" type="text/css" href="workflow_final/css/rappid.min.css" />
        <link rel="stylesheet" type="text/css" href="workflow_final/css/demos/bpmn/bpmn.css" />
        <link rel="stylesheet" type="text/css" href="workflow_final/css/addedcss.css" />

    </head>
    <body>
        <script src="https://use.fontawesome.com/d847c7e47e.js"></script>
        <div id="paper-container"></div>


        <div id="toolbar-container">
          <button class="btn-drive-load" onclick="toolbar.loadGraph()" data-tooltip="Load"><i style="font-size: 25px;" class="fa fa-folder" aria-hidden="true"></i><!-- <span>Load</span> --></button>
          <button class="btn-drive-save" onclick="toolbar.saveGraph()" data-tooltip="Save"><i class="fa fa-floppy-o" style="font-size: 25px;" aria-hidden="true"></i></button>

          <button class="btn-print" onclick="paper.print()" data-tooltip="Print"><i class="fa fa-print" style="font-size: 25px;" aria-hidden="true"></i></button>

          <button class="btn-json" onclick="toolbar.toJSON()" data-tooltip="Open As JSON"><i class="fa fa-code" style="font-size: 25px;" aria-hidden="true"></i></button>

          <button class="btn-zoom-in" onclick="paperScroller.zoom(0.2, { max: 4 })" data-tooltip="Zoom In"><i class="fa fa-search-plus" style="font-size: 25px;" aria-hidden="true"></i></button>

          <button class="btn-zoom-out" onclick="paperScroller.zoom(-0.2, { min: 0.2 })" data-tooltip="Zoom Out"><i class="fa fa-search-minus" style="font-size: 25px;" aria-hidden="true"></i></button>

          <button class="btn-clear" onclick="graph.clear()" data-tooltip="Clear"><i class="fa fa-trash" style="font-size: 25px;" aria-hidden="true"></i></button>

          <button class="btn-undo" onclick="commandManager.undo()" data-tooltip="Undo"><i class="fa fa-undo" style="font-size: 25px;" aria-hidden="true"></i></button>

          <button class="btn-redo" onclick="commandManager.redo()" data-tooltip="Redo"><i class="fa fa-repeat" style="font-size: 25px;" aria-hidden="true"></i></button>
          
          <input id="fileName" type="text" value="bpmn-example"/>
        </div>
        <div id="stencil-container"></div>
        <div id="inspector-container">
         <!-- <div class="about">
            <div class="logo"><img src="images/demos/bpmn/logo-big.png" alt="JointJS"></img></div>
            <h1>Business Process Model and Notation</h1>
            <h2>What is it good for?</h2>
            <div class="about-bpmn">The main goal of the BPMN language is to erase the communication gap between the business process design and process implementation by providing a graphical notation that all the technical and business users can easily understand.</div>
            <h2>BPMN 2.0</h2>
            <div class="about-bpmn">From the version 2.0+ the language contains also the execution semantics for all BPMN elements and defines a mechanism for extending standard elements with custom attributes.</div>
          </div>-->
        </div>
        <div id="statusbar-container">
          <div class="status"></div>
        </div>

        <!-- Google Drive: -->
        <script type="text/javascript" src="workflow_final/js/demos/bpmn/gd.js"></script>
        <script type="text/javascript" src="workflow_final/js/demos/bpmn/client.js"></script>
        <!-- Dependencies: -->
    <script>
      SVGElement.prototype.getTransformToElement = SVGElement.prototype.getTransformToElement || function(toElement) {
          return toElement.getScreenCTM().inverse().multiply(this.getScreenCTM());
      };
    </script>

        <script src="workflow_final/js/vendor/jquery/jquery.js"></script>
        <script src="workflow_final/js/vendor/lodash/lodash.js"></script>
        <script src="workflow_final/js/vendor/backbone/backbone.js"></script>
        <script src="workflow_final/js/vendor/KeyboardJS/keyboard.js"></script>
        <script src="workflow_final/js/rappid.min.js"></script>
        <!-- App scripts -->
        <script src="workflow_final/js/demos/bpmn/inspector.js"></script>
        <script src="workflow_final/js/demos/bpmn/example.js"></script>
        <script src="workflow_final/js/demos/bpmn/bpmn.js"></script>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5029684-2']);
          _gaq.push(['_trackPageview']);

          (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

    </body>
</html>
