<!-- footer -->

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3>Trip</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur maiores iusto quidem deleniti laudantium asperiores libero autem dignissimos</p>
				<div class="row">
					<div class="col-md-6">
						<h5><strong>Lorem Ipsium</strong></h5>
						<p>lorem ipsium doller sit ammet.</p>
					</div>
					<div class="col-md-6">
						<h5><strong>Lorem Ipsium</strong></h5>
						<p>lorem ipsium doller sit ammet.</p>

					</div>
				</div>
			</div>
			<div class="col-md-3">
				<ul>
					<li>
						<h5><strong>OUR PRODUCTS</strong></h5></li>
					<li>Bus Booking</li>
					<li>Domestic Airlines</li>
					<li>Hotels in India</li>
					<li>Hotel Booking</li>
					<li>Domestic Airlines</li>
					<li>Hotels in India</li>
					<li>Hotel Booking</li>
					<li>Domestic Airlines</li>
					<li>Hotels in India</li>
					<li>Hotel Booking</li>
					<li>Domestic Airlines</li>
					<li>Hotels in India</li>
					<li>Hotel Booking</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li>
						<h5><strong>OUR PRODUCTS</strong></h5></li>
					<li>Bus Booking</li>
					<li>Domestic Airlines</li>
					<li>Hotels in India</li>
					<li>Hotel Booking</li>
					<li>Domestic Airlines</li>
					<li>Hotels in India</li>
					<li>Hotel Booking</li>
					<li>Domestic Airlines</li>
					<li>Hotels in India</li>
					<li>Hotel Booking</li>
					<li>Domestic Airlines</li>
					<li>Hotels in India</li>
					<li>Hotel Booking</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul>
					<li>
						<h5><strong>OUR PRODUCTS</strong></h5></li>
					<li>Bus Booking</li>
					<li>Domestic Airlines</li>
					<li>Hotels in India</li>
					<li>Hotel Booking</li>
					<li>Domestic Airlines</li>
					<li>Hotels in India</li>
					<li>Hotel Booking</li>
					<li>Domestic Airlines</li>
					<li>Hotels in India</li>
					<li>Hotel Booking</li>
					<li>Domestic Airlines</li>
					<li>Hotels in India</li>
					<li>Hotel Booking</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
