/* 
	.holder should be modified according
	to your requirement.
*/
/* .holder {
	padding: 70px 0px 0px 300px;
}


.green{
	background-color:#5cb85c;
	color:#FFF;
	font-size:70px;
	padding:18px 0px 0px 10px;
	border-radius:15px;
	width:136px;
	height:136px;
	text-align:center;
} */