<!-- page-footer test element -->

<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="page-footer">
	<template>

		<style>
		:host {}
		</style>

		<!-- footer -->
		<footer class="page-footer" style="background-color:#051918;">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="teal-text text-lighten-1">Interland Technologies</h5>
						<p class="grey-text">8th floor, Yamuna,
							<br> Technopark P III,
							<br>Trivandrum.</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<ul>
							<li><a class="teal-text text-lighten-1" href="index.html">Home</a></li>
							<li><a class="teal-text text-lighten-1" href="products.html">Products</a></li>
							<li><a class="teal-text text-lighten-1" href="services.html">Services</a></li>
							<li><a class="teal-text text-lighten-1" href="consult.html">Consult</a></li>
							<li><a class="teal-text text-lighten-1" href="edu.html">Education</a></li>
							<li><a class="teal-text text-lighten-1" href="partners.html">Partners</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2014 Copyright Interland
					<a class="grey-text text-lighten-4 right" href="#!"> </a>
				</div>
			</div>
		</footer>

	</template>

	<script>

	Polymer({

		is: 'page-footer',

		properties: {
			theme: {
				type: String,
				value: 'teal',
			}
		}
	});
	</script>
</dom-module>
