<!-- page-footer test element -->

<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="page-footer">
	<template>

		<style>
		:host {}
		
		.tits {
			position: relative;
			bottom: 13px;
		}
		
		.tits_logo {
			width: 46px;
		}
		</style>

		<!-- footer -->
		<footer class="page-footer" style="background-color:#051918;">
			<div class="container">
				<div class="row">
					<div class="col m9 s12">
						<!-- <img src="../images/logo_green.svg" alt="blended logo"> -->
						<h5 class="teal-text text-lighten-1"><img class="tits_logo" src="../images/logo_green.svg" alt="blended logo"> <span class="tits">Interland Technologies</span></h5>
						<p class="grey-text">8th floor, Yamuna,
							<br> Technopark P III,
							<br>Trivandrum.</p>
					</div>
					<div class="col m3 s12">
						<ul>
							<li><a class="teal-text text-lighten-1" href="../index.html">Home</a></li>
							<li><a class="teal-text text-lighten-1" href="../products.html">Products</a></li>
							<li><a class="teal-text text-lighten-1" href="../services.html">Services</a></li>
							<li><a class="teal-text text-lighten-1" href="../consult.html">Consult</a></li>
							<li><a class="teal-text text-lighten-1" href="../edu.html">Education</a></li>
							<li><a class="teal-text text-lighten-1" href="../partners.html">Partners</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					<span onclick="Materialize.toast('<i class=\'material-icons\' style=\'color: #3BCDBF;\'>color_lens</i> &nbsp;Developed by &nbsp;<strong><a href=\'https://twitter.com/vajahath7\' style=\'color:#3BCDBF; \'> @vajahath7</a></strong> &nbsp; and &nbsp;<strong><a href=\'https://twitter.com/ajml_nazir\' style=\'color:#3BCDBF; \'> @ajml_nazir</a></strong>.', 2500)">©</span> 2014 Copyright Interland
					<a class="grey-text text-lighten-4 right" href="#!"></a>
				</div>
			</div>
		</footer>

	</template>

	<script>
	Polymer({

		is: 'page-footer',

		properties: {
			theme: {
				type: String,
				value: 'teal',
			}
		}
	});
	</script>
</dom-module>
