<!-- picturify-header -->

<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="picturify-header">
	<template>

		<style>
		:host {}
		/* picturify */
		
		.picturify {
			width: 100%;
			height: 426px;
			position: relative;
		}
		
		.picturify .back,
		.picturify .front {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		
		.picturify .back {
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden
		}
		
		.picturify .back img {
			flex-shrink: 0;
			width: inherit;
		}
		
		.picturify .front {
			z-index: 3;
		}
		
		.picturify .front .page-banner-thin {
			background-color: rgba(0, 0, 0, 0.41);
		}
		/* --------- */
		
		.picturify .front .elevation {
			background-color: rgba(0, 0, 0, 0.35);
			width: 100%;
			height: 350px;
		}
		
		.picturify .front .elevation div {
			height: 100%;
		}
		
		.picturify .front .elevation .image-div {
			padding-right: 0px;
		}
		
		.picturify .front .elevation .image-div img {
			height: 100%;
			float: right;
		}
		
		.picturify .front .elevation .content {
			color: #FFF;
			padding: 3% 0% 2% 4%;
		}
		
		.picturify .front .elevation .content i {
			margin-top: 3px;
		}
		/* -------- */
		.picturify .front .page-banner-thin {
			padding: 1% 5%;
		}
		
		.picturify .front .page-banner-thin p {
			font-size: 1em;
		}
		</style>

		<div class="picturify">
			<!-- background -->
			<div class="back">
				<img src="http://localhost:3001/main/images/partner.jpg" alt="" />
			</div>
			<!-- foreground -->
			<div class="front">
				<div class="page-banner-thin">
					<h5 class="white-text">About Us</h5>
				</div>
				<div class="elevation">
					<div class="row">
						<div class="col l8 content">
							<h2>Let's build it</h2>
							<a href="mailto:partnership@interlandtech.com?subject=Partnership" class="btn white blue-text">mail us at partnership@interlandtech.com</a>
						</div>
						<div class="col l4 image-div">
							<!-- <img src="images/letter.svg" alt="letter"> -->
						</div>
					</div>
				</div>
			</div>
		</div>

	</template>

	<script>
	Polymer({

		is: 'picturify-header',

		properties: {
			theme: {
				type: String,
				value: 'teal',
			}
		}
	});
	</script>
</dom-module>
