<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Trip | Login</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/trip/styles/main.css">
</head>

<body>
	<!-- include nav-bar -->
	<% include templates/navbar-default.html %>

		<!-- body -->
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h3>Login to your Account</h3>
					<div class="box">
						<form>
							<div class="form-group">
								<input placeholder="Email" type="email" class="form-control" id="email">
							</div>
							<div class="form-group">
								<input placeholder="Password" type="password" class="form-control" id="pwd">
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox"> Remember me <span>| <a href="#">Forgot password</a></span></label>
							</div>
							<button type="submit" class="btn btn-warning">Login</button>
						</form>
					</div>
				</div>

				<div class="col-md-8">
					<h3>Some features</h3>
						<ul class="ul-tick">
							<li>feature 1</li>
							<li>feature</li>
							<li>feature</li>
							<li>feature</li>
							<li>feature</li>
							<li>feature</li>
						</ul>
				</div>
			</div>
		</div>

		<!-- include footer -->
		<% include templates/footer-default.html %>

			<script type="text/javascript" src="/bootstrap/jquery-1-11-3.min.js"></script>
			<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="/trip/js/main.js"></script>

</body>

</html>
