/*  bhoechie tab */

div.bhoechie-tab-container {
	z-index: 10;
	background-color: #ffffff;
	padding: 0 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group {
	margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
	margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
	color: #2B8C82;
}

div.bhoechie-tab-menu div.list-group>a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child {
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa {
	background-color: #2B8C82;
	/* background-image: #2B8C82; */
	color: #ffffff;


}

div.bhoechie-tab-menu div.list-group>a.active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #2B8C82;
}

div.bhoechie-tab {
	padding-bottom: 35px;
}

div.bhoechie-tab-content {
	background-color: #ffffff;
	/* border: 1px solid #eeeeee; */
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 20px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
	opacity: 0;
	display: none;
}

.bhoechie-tab-content h1 {
	color: #318F85;
}

.bro-fade {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
