html,
body {
	position: relative;
	min-height: 100%;
	background-color: #f5f5f5;
}


/**
* highlight
*/

.c-highlight {
	min-height: 500px;
	background-image: url('../image/flight blur.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.navbar-default {
	margin-bottom: 0;
}

.no-padding {
	padding: 0;
}


/** 
* dull
*/

.dull {
	height: inherit;
	padding: 5%;
	color: #fff;
	background-color: rgba(0, 0, 0, .52);
}

.dull a {
	color: #f3b642;
}

.dull .nav-tabs > li.active > a,
.dull .nav-tabs > li.active > a:focus,
.dull .nav-tabs > li.active > a:hover {
	color: #555;
	border: 1px solid #f3b642;
	border-bottom-color: transparent;
	background-color: #f3b642;
}

.dull .nav-tabs > li > a:hover {
	border-color: #eee #eee #ddd;
}

.dull .nav > li > a:focus,
.dull .nav > li > a:hover {
	background-color: #1c3742;
}

.dull .nav-pills > li.active > a,
.dull .nav-pills > li.active > a:focus,
.dull .nav-pills > li.active > a:hover {
	color: #fff;
	background-color: #a98763;
}

.dull .form-control {
	letter-spacing: 1px;
	color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .45);
	background-image: none;
}


/**
* btn-yellow
*/

.btn-yellow {
	color: #2e2e2e;
	border-color: #f3b642;
	background-color: #f3b642;
}

.btn-yellow:hover {
	color: #000;
	border-color: #d58512;
	background-color: #ec971f;
}


/**
* card-section
*/

.card-section {
	margin-top: 30px;
}


/** 
* card
*/

.card {
	margin-top: 10px;
	margin-bottom: 10px;
	border: thin solid #ddd;
	background-color: #fff;
}

.card .card-header {
	padding: 2% 5%;
	color: #ff6700;
	border-bottom: solid thin #ddd;
}

.card .card-body {
	padding: 3% 5%;
}

.card .card-footer {
	margin-bottom: 0;
	padding-top: 9px;
	padding-right: 5%;
	padding-left: 5%;
	border-top: solid thin #ddd;
}

.card .card-footer * {
	display: inline-block;
}

.card .card-footer a {
	float: right;
}


/**
* footer
*/

.footer {
	/* Set the fixed height of the footer here */
	/* position: absolute; */
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	padding: 20px;
	background-color: #e2e2e2;
}

.footer ul {
	list-style: none;
}


/**
* footer-brands
*/

.footer-brands {
	margin-top: 20px;
}

.cust-brands {
	width: 120px;
	margin-right: 7px;
}

.cust-brands * {
	display: inline-block;
}


/**
* login-menu
*/

.login-menu {
	min-width: 500px;
	padding: 15px;
}


/**
* box
*/

.box {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 25px;
	border: thin solid #e2e2e2;
	background-color: white;
}


/**
* ul-tick
*/

.ul-tick li {
	display: block;
	margin-bottom: 5px;
}

.ul-tick li:before {
	font-family: 'Glyphicons Halflings';
	font-size: 11px;
	float: left;
	margin-top: 2px;
	margin-left: -18px;
	/*Using a Bootstrap glyphicon as the bullet point*/
	content: '\e013';
	color: #f0ad4e;
}


/**
* no-bullet
*/

.no-bullet {
	list-style: none;
}


/**
* ul-clean
*/

.ul-clean {
	padding: 0;
}


/**
* navbar-brand (Boot's > overwriting)
*/

.navbar-brand {
	padding-top: 10px;
}

.navbar-brand img {
	display: inline-block;
	width: 30px;
	margin-right: 7px;
}


/**
* bhoechie-tabs
*/

div.bhoechie-tab-container {
	z-index: 10;
	padding: 0 !important;
	opacity: .97;
	border-radius: 4px;
	background-color: #fff;
	background-clip: padding-box;
	filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

div.bhoechie-tab-menu div.list-group {
	margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group > a {
	margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group > a .glyphicon,
div.bhoechie-tab-menu div.list-group > a .fa {
	color: #f8981d;
}

div.bhoechie-tab-menu div.list-group > a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group > a:last-child {
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group > a.active,
div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
div.bhoechie-tab-menu div.list-group > a.active .fa {
	color: #fff;
	background-color: #f8981d;
}

div.bhoechie-tab-menu div.list-group > a.active:after {
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -13px;
	content: '';
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	border-left: 0;
	border-left: 10px solid #f8981d;
}

div.bhoechie-tab-content {
	padding: 12px 25px;
	/* border: 1px solid #eeeeee; */
	background-color: #fff;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
	display: none;
}

div.bhoechie-tab-container .list-group-item.active,
div.bhoechie-tab-container .list-group-item.active:focus,
div.bhoechie-tab-container .list-group-item.active:hover div.bhoechie-tab-container {
	border-color: #f89b24;
}

.bhoechie-tab-content h1 {
	color: #f89b24;
}


/**
* .text-yellow
*/

.text-yellow {
	color: #ff9221;
}

a.text-yellow:hover {
	color: #ff6d00;
}


/**
* .text-white
*/

.text-white {
	color: #fff;
}

a.text-white:hover {
	color: #865211;
}


/**
* .welcome
*/

.welcome {
	margin-bottom: 10px;
	/* border-bottom: #d3d1cc solid thin; */
	padding: 0 15px 0 15px;
}

.welcome h3 {
	color: #2f2f2f;
}


/**
* edit
*/

.edit {
	position: absolute;
	z-index: 3;
	right: 26px;
	display: inline-block;
	text-align: right;
}


/**
* .profile-colored
*/

.profile-colored {
	padding: 15px 15px;
	background-image: url('/trip/image/prof-back3.jpg');
}

.profile-colored h3 {
	margin-top: 0;
}

.profile-colored ul li {
	margin-bottom: 2px;
}

.profile-colored ul li span {
	margin-right: 7px;
}

.profile-colored .progress {
	margin-bottom: 0;
}


/**
* Telephone input
* intl-tel-input.allow-dropdown
*/

.intl-tel-input.allow-dropdown {
	width: 100%;
}


/**
* .search-results
*/

.search-results p {
	margin: 0;
}


/**
* .vcenter
*/

.vcenter {
	/* vertical-align: middle; */
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}


/**
* flight-brand
*/

.flight-brand {
	text-align: center;
}

.flight-brand .logo {
	display: inline-block;
}

.flight-brand .logo .flight-logo {
	width: 27px;
	height: 27px;
}

.flight-brand .logo .name,
.flight-brand .logo .code {
	font-size: 11px;
	margin: 0;
}

.flight-brand .logo .name {
	color: grey;
}

.flight-brand .logo .code {
	color: #5c5c5c;
}


/**
* .time
*/

.time {
	text-align: center;
}

.time .clock,
.time .place {
	margin: 0;
}

.time .clock {
	font-size: 21px;
}

.time .place {
	color: grey;
}


/**
* .price
*/

.price {
	text-align: center;
}

.price .cash {
	font-size: 28px;
	color: red;
}

.price .tag {
	font-size: 12px;
	color: green;
}


/* ----------------------- */

.witch-box {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: thin solid #f8981d;
	background-color: white;
}

.witch-box .box-header {
	padding: 10px 25px;
	color: white;
	background-color: #f8981d;
}

.witch-box .box-body {
	padding: 10px 25px;
	background-color: white;
}


/**
* hrs
*/

.hr-grad {
	height: 1px;
	border: 0;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #ffbd67, #ccc);
}


/**
* no-margin
*/

.no-margin {
	margin: 0;
}


/**
* staircase
*/

.staircase {
	overflow: hidden;
	margin: 0;
	padding: 0;
	/*CSS counters to number the steps*/
	counter-reset: step;
	text-align: center;
}

.staircase li {
	font-size: 9px;
	position: relative;
	float: left;
	width: 12%;
	list-style-type: none;
	text-transform: uppercase;
	color: #525252;
}

.staircase li:before {
	font-size: 10px;
	line-height: 20px;
	display: block;
	width: 20px;
	margin: 0 auto 5px auto;
	content: counter(step);
	counter-increment: step;
	color: #333;
	border-radius: 3px;
	background: #a0a0a0;
}


/*staircase connectors*/

.staircase li:after {
	position: absolute;
	z-index: -1;
	top: 9px;
	left: -50%;
	width: 100%;
	height: 2px;
	content: '';
	background: #a0a0a0;
	/*put it behind the numbers*/
}

.staircase li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

.staircase li.step-active:before,
.staircase li.step-active:after {
	color: white;
	background: #27ae60;
}


/**
* pakka-trans-box
*/

.pakka-trans-box {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: none;
	background-color: rgba(255, 255, 255, 0);
}


/**
* these are not working properly
*/

.radio.radio-warning.radio-inline label:focus {
	outline: none;
}

.radio.radio-warning.radio-inline input[type='radio']:focus {
	outline: none;
}


/**
 * bhoechie-mild-orange
 */

div.bhoechie-tab-container.bhoechie-mild-orange .list-group-item.active,
div.bhoechie-tab-container .list-group-item.active:focus,
div.bhoechie-tab-container .list-group-item.active:hover div.bhoechie-tab-container {
	border-color: #ffdbab;
}

div.bhoechie-tab-container.bhoechie-mild-orange div.bhoechie-tab-menu div.list-group > a.active,
div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
div.bhoechie-tab-menu div.list-group > a.active .fa {
	color: #a55c00;
	background-color: #ffdbab;
}

div.bhoechie-tab-container.bhoechie-mild-orange div.bhoechie-tab-menu div.list-group > a.active:after {
	border-left: 10px solid #ffdcad;
}


/**
 * my-act
 */

.my-act {
	border: thin solid #C9C9C9;
	border-radius: 3px;
	display: inline-block;
	padding: 2px 4px;
	margin-top: 6px;
	background-color: white;
	color: #E37800;
}

.my-act img {
	width: 27px;
	height: 27px;
	display: inline-block;
	float: left;
	margin-top: 2px;
}

.my-act .content {
	display: inline-block;
	font-size: 11px;
	margin-left: 7px;
}

.my-act .content p {
	margin: 0px;
}
