html,
body {
	min-height: 100%;
	background-color: #F5F5F5;
	position: relative;
}


/**
 * highlight
 */

.highlight {
	background-image: url('../image/flight blur.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 500px;
}

.navbar-default {
	margin-bottom: 0px;
}

.no-padding {
	padding: 0px;
}


/** 
 * dull
 */

.dull {
	background-color: rgba(0, 0, 0, 0.52);
	height: inherit;
	padding: 5%;
	color: #FFF;
}

.dull a {
	color: #f3b642;
}

.dull .nav-tabs>li.active>a,
.dull .nav-tabs>li.active>a:focus,
.dull .nav-tabs>li.active>a:hover {
	color: #555;
	background-color: #f3b642;
	border: 1px solid #f3b642;
	border-bottom-color: transparent;
}

.dull .nav-tabs>li>a:hover {
	border-color: #eee #eee #ddd;
}

.dull .nav>li>a:focus,
.dull .nav>li>a:hover {
	background-color: #1c3742;
}

.dull .nav-pills>li.active>a,
.dull .nav-pills>li.active>a:focus,
.dull .nav-pills>li.active>a:hover {
	color: #fff;
	background-color: #a98763;
}

.dull .form-control {
	letter-spacing: 1px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.45);
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}


/**
 * btn-yellow
 */

.btn-yellow {
	color: #2E2E2E;
	background-color: #F3B642;
	border-color: #F3B642;
}

.btn-yellow:hover {
	color: #000;
	background-color: #ec971f;
	border-color: #d58512;
}


/**
 * card-section
 */

.card-section {
	margin-top: 30px;
}


/** 
 * card
 */

.card {
	background-color: #FFF;
	border: thin solid #DDDDDD;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card .card-header {
	padding: 2% 5%;
	border-bottom: solid thin #DDDDDD;
	color: #FF6700;
}

.card .card-body {
	padding: 3% 5%;
}

.card .card-footer {
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 0px;
	padding-top: 9px;
	border-top: solid thin #DDDDDD;
}

.card .card-footer * {
	display: inline-block;
}

.card .card-footer a {
	float: right;
}


/**
 * footer
 */

.footer {
	margin-top: 20px;
	width: 100%;
	/* Set the fixed height of the footer here */
	/* position: absolute; */
	bottom: 0;
	background-color: #E2E2E2;
	padding: 20px;
}

.footer ul {
	list-style: none;
}


/**
 * footer-brands
 */

.footer-brands {
	margin-top: 20px;
}

.cust-brands {
	margin-right: 7px;
	width: 120px;
}

.cust-brands * {
	display: inline-block;
}


/**
 * login-menu
 */

.login-menu {
	min-width: 500px;
	padding: 15px;
}


/**
 * box
 */

.box {
	background-color: white;
	padding: 25px;
	border: thin solid #E2E2E2;
	margin-top: 10px;
	margin-bottom: 10px;
}


/**
 * ul-tick
 */

.ul-tick li {
	display: block;
	margin-bottom: 5px;
}

.ul-tick li:before {
	/*Using a Bootstrap glyphicon as the bullet point*/
	content: "\e013";
	font-family: 'Glyphicons Halflings';
	font-size: 11px;
	float: left;
	margin-top: 2px;
	margin-left: -20px;
	color: #F0AD4E;
}


/**
 * no-bullet
 */

.no-bullet {
	list-style: none;
}


/**
 * ul-clean
 */

.ul-clean {
	padding: 0px;
}


/**
 * navbar-brand (Boot's > overwriting)
 */

.navbar-brand {
	padding-top: 10px;
}

.navbar-brand img {
	width: 30px;
	display: inline-block;
	margin-right: 7px;
}


/**
 * bhoechie-tabs
 */

div.bhoechie-tab-container {
	z-index: 10;
	background-color: #ffffff;
	padding: 0 !important;
	border-radius: 4px;
	-moz-border-radius: 4px;
 	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group {
	margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
	margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
	color: #2B8C82;
}

div.bhoechie-tab-menu div.list-group>a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child {
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa {
	background-color: #2B8C82;
	background-image: #2B8C82;
	color: #ffffff;
}

div.bhoechie-tab-menu div.list-group>a.active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #2B8C82;
}

div.bhoechie-tab-content {
	background-color: #ffffff;
	/* border: 1px solid #eeeeee; */
	padding-left: 12px;
	padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
	display: none;
}

.bhoechie-tab-content h1 {
	color: #318F85;
}

/**
 * .welcome
 */
.welcome{
	/* border-bottom: #d3d1cc solid thin; */
	padding: 0px 15px 0px 15px;
	margin-bottom: 10px;
}
.welcome h3{
	color: #2f2f2f;
}