nav ul a,
nav .brand-logo {
	color: #444;
}

nav .img-logo {
	width: 42px;
	margin-top: 10px;
	margin-left: 16px;
	margin-right: 5px;
}

.button-collapse {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: 600px;
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
}

.parallax-container {
	min-height: 425px;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}


/**
 * left-light styles
 */

.left-light {
	margin-top: 11%;
}

.left-light .image-section {
	padding-right: 3%;
}

.left-light .left-croped {
	padding-left: 0px;
}

.left-light .left-croped img {
	width: 100%;
}

.left-light .bottom-croped {
	padding-left: 7%;
	padding-right: 7%;
}

.left-light .bottom-croped img {
	width: 100%;
	position: relative;
	bottom: -6px;
}

.left-light .content-section {
	padding-right: 10%;
	margin-top: 2%;
}

.left-light .content-section h2 {
	font-weight: 300;
	color: #595B60;
}

.left-light .content-section p {
	font-weight: 300;
	color: #272727;
	font-size: 1.3em;
}


/**
 * left-light styles
 */

.right-light {
	margin-top: 11%;
}

.right-light .image-section {
	padding-left: 3%;
}

.right-light .right-croped {
	padding-right: 0px;
}

.right-light .right-croped img {
	width: 100%;
	float: right;
}

.right-light .content-section {
	padding-left: 10%;
}

.right-light .content-section h2 {
	font-weight: 300;
	color: #595B60;
}

.right-light .content-section p {
	font-weight: 300;
	color: #272727;
	font-size: 1.3em;
}


/**
 * divergent styling
 */

.divergent {
	background-color: #F6F6F6;
	margin-top: 100px;
	padding-bottom: 20px;
}

.divergent .header-strip {
	text-align: center;
	padding: 30px;
}

.divergent .header-strip h3 {
	font-weight: 300;
	color: #4d4d4d;
}

.divergent .header-strip p {
	font-weight: 300;
	color: #4d4d4d;
	font-size: 20px;
}


/**
 * winding-up styles
 */

.winding-up {
	border-top: 2px solid white;
	border-bottom: 0px solid white;
	padding: 3% 10%;
	text-align: center;
}

.winding-up .header-strip h3 {
	font-weight: 300;
}

.winding-up .header-strip p {
	font-size: 1.2em;
}


/**
 * page-banner styling
 */

.page-banner {
	padding: 1.5% 5%;
}

.page-banner p {
	font-size: 1.2em;
}
/**
 * page-banner-thin styling
 */

.page-banner-thin {
	padding: 1% 5%;
}

.page-banner-thin p {
	font-size: 1em;
}


/**
 * product-lay styles
 */

.product-lay {
	margin-top: 3%;
}

.product-lay .each-pro {
	/* background-color: pink; */
}

.product-lay .each-pro .pro-class-container {
	padding: 1% 3%;
}

.product-lay .each-pro .pro-class-container .pro-class {
	font-weight: 300;
	color: #656565;
}

.product-lay .each-pro .pro-content-container {
	padding: 1.7% 1%;
}

.collapsible-body {
	padding: 3rem;
}

.collapsible-body p {
	padding: 0px;
}

.disc li {
	list-style-type: disc;
}


/**
 * product-modal
 */

.product-modal .modal-content {
	padding: 0px;
}

.product-modal .modal-content .header-strip {
	padding: 4% 4% 2% 4%;
}

.product-modal .modal-content .content-strip {
	padding: 4% 4% 2% 4%;
}

.product-modal .modal-footer .modal-action {
	margin-left: 1%;
	margin-right: 1%;
}
/**
 * elevation styles
 */
.elevation{
	/* background-color: yellow; */
	width: 100%;
	height: 350px;
}
.elevation div{
	height: 100%;
}
.elevation .image-div{
	padding-right: 0px;
}
.elevation .image-div img{
	height: 100%;
	float: right;
}
.elevation .content{
	color: #FFF;
	padding: 3% 0% 2% 4%;
}
.elevation .content i{
	margin-top: 3px;
}