nav ul a,
nav .brand-logo {
	color: #444;
}

.button-collapse {
	color: #26a69a;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: 600px;
	color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
	width: 100%;
}

.parallax-container {
	min-height: 425px;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}


/**
 * left-light styles
 */

.left-light {
	margin-top: 11%;
}

.left-light .image-section {
	padding-right: 3%;
}

.left-light .left-croped {
	padding-left: 0px;
}

.left-light .left-croped img {
	width: 100%;
}

.left-light .bottom-croped {
	padding-left: 7%;
	padding-right: 7%;
}

.left-light .bottom-croped img {
	width: 100%;
	position: relative;
	bottom: -6px;
}

.left-light .content-section {
	padding-right: 10%;
	margin-top: 2%;
}

.left-light .content-section h2 {
	font-weight: 300;
	color: #595B60;
}

.left-light .content-section p {
	font-weight: 300;
	color: #272727;
	font-size: 1.3em;
}


/**
 * left-light styles
 */

.right-light {
	margin-top: 11%;
}

.right-light .image-section {
	padding-left: 3%;
}

.right-light .right-croped {
	padding-right: 0px;
}

.right-light .right-croped img {
	width: 100%;
	float: right;
}

.right-light .content-section {
	padding-left: 10%;
}

.right-light .content-section h2 {
	font-weight: 300;
	color: #595B60;
}

.right-light .content-section p {
	font-weight: 300;
	color: #272727;
	font-size: 1.3em;
}


/**
 * divergent styling
 */

.divergent {
	background-color: #F6F6F6;
	margin-top: 100px;
	padding-bottom: 20px;
}

.divergent .header-strip {
	text-align: center;
	padding: 30px;
}

.divergent .header-strip h3 {
	font-weight: 300;
	color: #4d4d4d;
}

.divergent .header-strip p {
	font-weight: 300;
	color: #4d4d4d;
	font-size: 20px;
}


/**
 * winding-up styles
 */

.winding-up {
	border-top: 2px solid white;
	border-bottom: 0px solid white;
	padding: 3% 10%;
	text-align: center;
}

.winding-up .header-strip h3 {
	font-weight: 300;
}

.winding-up .header-strip p {
	font-size: 1.2em;
}


/**
 * page-banner styling
 */

.page-banner {
	padding: 1.5% 5%;
}